#mytests-table {
    border: solid #eee 2px;
    border-radius: 1.5rem;
    box-shadow: #ddd 0 0 10px;
    min-height: 50vh;
}

a.test-link {
    display: block;
    color: #000;
    text-decoration: underline;
}
a.test-link:hover {
    color: #000099;
    cursor: pointer;
}