/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', 'Roboto', 'Arial';
    outline: none;
}

a.a-btn {
    display: block;
    color: blue;
    text-decoration: underline;
}
a.a-btn:hover {
    color: purple;
    cursor: pointer;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#root {
    min-width: 20rem;
}

.control-btn {
    background: none;
    border: none;
    color: #555;
}
.control-btn:hover {
    color: #999;
    cursor: pointer;
}

.section {
    max-width: 40rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: auto;
    text-align: left;
}

.base-btn {
    border: none;
    border-radius: 0;
    box-shadow: 0;
    background: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.icon-btn {
    color: #555;
}
.icon-btn:hover {
    color: #999;
}